---
import { Newspaper } from "lucide-solid";
import DefaultLayout from "../../layouts/Default.astro";
import "../../styles/globals.css";
import PostItem from "../../components/solidjs/PostItem";
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

let title = "Blog Posts";
let description = "All that I've posted.";
---

<DefaultLayout title={title} description={description}>
  <div
    class="relative min-h-[18rem] overflow-hidden w-full border-b border-neutral-700 flex items-center"
  >
    <Image
      src="/profile/unsplash-bg.webp"
      alt="Unsplash Background by Alex Perez"
      class="min-h-[18rem] max-h-full w-full object-cover brightness-50 absolute inset-0"
      height={720}
      width={1560}
      loading="eager"
    />
    <header
      class="relative flex flex-col justify-center w-full max-w-3xl gap-2 px-4 mx-auto text-center lg:text-left text-neutral-200"
    >
      <h1 class="text-4xl font-bold font-heading">Blog Posts</h1>
      <p class="text-xl text-neutral-400">
        Everything that I've written, then 'til now.
      </p>
    </header>
  </div>
  <section class="relative z-10 w-full py-12">
    <div
      class="max-w-3xl px-4 mx-auto prose prose-invert prose-p:text-neutral-400 prose-headings:text-neutral-200 prose-headings:font-bold prose-headings:font-heading"
    >
      <h2
        class="flex items-center justify-start gap-5 pb-4 border-b border-neutral-700"
      >
        <div class="flex items-center gap-3">
          <Newspaper size={28} />
        </div>
        A bit of notice
      </h2>
      <p>
        It really isn't a big deal anymore for me to maintain my blog but I kept
        on doing so because of hobby so yeah. I'll post if I want to and if I'm
        not? I'll just leave it as it is. I'm not really sure if I'll be able to
        post regularly but I'll try my best to do so.
      </p>
      <p>Oh, here's your list:</p>
      <div class="grid grid-cols-1 gap-4 not-prose md:grid-cols-2">
        {
          allPosts
            .sort(
              (a, b) =>
                new Date(b.data.date).getTime() -
                new Date(a.data.date).getTime()
            )
            .map((post) => <PostItem slug={post.slug} {...post.data} />)
        }
      </div>
    </div>
  </section>
</DefaultLayout>
