@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply block relative p-3 text-neutral-200 rounded transition hover:bg-red-400 hover:bg-opacity-20;
  }

  .nav-item-active {
    @apply text-opacity-100 bg-red-400 bg-opacity-20 hover:bg-opacity-40;
  }

  .nav-item-label {
    @apply hidden md:block shadow-lg shadow-neutral-800 w-[max-content] origin-left pointer-events-none border border-neutral-700 bg-neutral-900 bg-opacity-70 backdrop-blur-md duration-200 px-4 py-2 rounded text-sm -translate-x-0 opacity-0 group-hover:opacity-100 absolute top-1/2 group-hover:translate-x-16 -translate-y-1/2;
  }

  .main-page-card-btn {
    @apply flex p-2 rounded border border-neutral-700 bg-neutral-900 justify-center text-neutral-200 items-center gap-2 hover:bg-red-400 hover:bg-opacity-20 transition;
  }
}

.turbo-progress-bar {
  @apply bg-red-400;
}

pre code {
  counter-reset: line;
}

pre code .line::before {
  counter-increment: line;
  content: counter(line);
  @apply w-4 text-right text-neutral-400 mr-4 hidden md:inline-block;
}

lite-youtube {
  @apply w-full max-w-none !important;
}
