@layer base {
	:root {
		--background: oklch(0.9551 0 0);
		--foreground: oklch(0.3211 0 0);
		--card: oklch(0.9702 0 0);
		--card-foreground: oklch(0.3211 0 0);
		--popover: oklch(0.9702 0 0);
		--popover-foreground: oklch(0.3211 0 0);
		--primary: oklch(0.4891 0 0);
		--primary-foreground: oklch(1 0 0);
		--secondary: oklch(0.9067 0 0);
		--secondary-foreground: oklch(0.3211 0 0);
		--muted: oklch(0.8853 0 0);
		--muted-foreground: oklch(0.5103 0 0);
		--accent: oklch(0.8078 0 0);
		--accent-foreground: oklch(0.3211 0 0);
		--destructive: oklch(0.5594 0.19 25.8625);
		--destructive-foreground: oklch(1 0 0);
		--border: oklch(0.8576 0 0);
		--input: oklch(0.9067 0 0);
		--ring: oklch(0.4891 0 0);
		--chart-1: oklch(0.4891 0 0);
		--chart-2: oklch(0.4863 0.0361 196.0278);
		--chart-3: oklch(0.6534 0 0);
		--chart-4: oklch(0.7316 0 0);
		--chart-5: oklch(0.8078 0 0);
		--sidebar: oklch(0.937 0 0);
		--sidebar-foreground: oklch(0.3211 0 0);
		--sidebar-primary: oklch(0.4891 0 0);
		--sidebar-primary-foreground: oklch(1 0 0);
		--sidebar-accent: oklch(0.8078 0 0);
		--sidebar-accent-foreground: oklch(0.3211 0 0);
		--sidebar-border: oklch(0.8576 0 0);
		--sidebar-ring: oklch(0.4891 0 0);
		--radius: 0.75rem;
		--shadow-x: 0px;
		--shadow-y: 2px;
		--shadow-blur: 0px;
		--shadow-spread: 0px;
		--shadow-opacity: 0.15;
		--shadow-color: hsl(0 0% 20% / 0.1);
		--shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
		--shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
		--shadow-sm:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 1px 2px -1px hsl(0 0% 20% / 0.15);
		--shadow:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 1px 2px -1px hsl(0 0% 20% / 0.15);
		--shadow-md:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 2px 4px -1px hsl(0 0% 20% / 0.15);
		--shadow-lg:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 4px 6px -1px hsl(0 0% 20% / 0.15);
		--shadow-xl:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 8px 10px -1px hsl(0 0% 20% / 0.15);
		--shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
		--tracking-normal: 0em;
		--spacing: 0.25rem;
	}

	.dark {
		--background: oklch(0.2178 0 0);
		--foreground: oklch(0.8853 0 0);
		--card: oklch(0.2435 0 0);
		--card-foreground: oklch(0.8853 0 0);
		--popover: oklch(0.2435 0 0);
		--popover-foreground: oklch(0.8853 0 0);
		--primary: oklch(0.7058 0 0);
		--primary-foreground: oklch(0.2178 0 0);
		--secondary: oklch(0.3092 0 0);
		--secondary-foreground: oklch(0.8853 0 0);
		--muted: oklch(0.285 0 0);
		--muted-foreground: oklch(0.5999 0 0);
		--accent: oklch(0.3715 0 0);
		--accent-foreground: oklch(0.8853 0 0);
		--destructive: oklch(0.6591 0.153 22.1703);
		--destructive-foreground: oklch(1 0 0);
		--border: oklch(0.329 0 0);
		--input: oklch(0.3092 0 0);
		--ring: oklch(0.7058 0 0);
		--chart-1: oklch(0.7058 0 0);
		--chart-2: oklch(0.6714 0.0339 206.3482);
		--chart-3: oklch(0.5452 0 0);
		--chart-4: oklch(0.4604 0 0);
		--chart-5: oklch(0.3715 0 0);
		--sidebar: oklch(0.2393 0 0);
		--sidebar-foreground: oklch(0.8853 0 0);
		--sidebar-primary: oklch(0.7058 0 0);
		--sidebar-primary-foreground: oklch(0.2178 0 0);
		--sidebar-accent: oklch(0.3715 0 0);
		--sidebar-accent-foreground: oklch(0.8853 0 0);
		--sidebar-border: oklch(0.329 0 0);
		--sidebar-ring: oklch(0.7058 0 0);
		--radius: 0.75rem;
		--shadow-x: 0px;
		--shadow-y: 2px;
		--shadow-blur: 0px;
		--shadow-spread: 0px;
		--shadow-opacity: 0.15;
		--shadow-color: hsl(0 0% 20% / 0.1);
		--shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
		--shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
		--shadow-sm:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 1px 2px -1px hsl(0 0% 20% / 0.15);
		--shadow:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 1px 2px -1px hsl(0 0% 20% / 0.15);
		--shadow-md:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 2px 4px -1px hsl(0 0% 20% / 0.15);
		--shadow-lg:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 4px 6px -1px hsl(0 0% 20% / 0.15);
		--shadow-xl:
			0px 2px 0px 0px hsl(0 0% 20% / 0.15),
			0px 8px 10px -1px hsl(0 0% 20% / 0.15);
		--shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
	}

	@font-face {
		font-family: "Geist";
		src:
			url("/fonts/geist/Geist-VariableFont_wght.woff2")
			format("woff2-variations"),
			url("/fonts/geist/Geist-VariableFont_wght.woff2") format("woff2"),
			url("/fonts/geist/Geist-VariableFont_wght.ttf") format("truetype");
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: "Geist Mono";
		src:
			url("/fonts/geist-mono/GeistMono-VariableFont_wght.woff2")
			format("woff2-variations"),
			url("/fonts/geist-mono/GeistMono-VariableFont_wght.woff2") format("woff2"),
			url("/fonts/geist-mono/GeistMono-VariableFont_wght.ttf")
			format("truetype");
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: "Besley";
		src:
			url("/fonts/besley/Besley-VariableFont_wght.woff2")
			format("woff2-variations"),
			url("/fonts/besley/Besley-VariableFont_wght.woff2") format("woff2"),
			url("/fonts/besley/Besley-VariableFont_wght.ttf") format("truetype");
		font-weight: 400 900;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: "Besley";
		src:
			url("/fonts/besley/Besley-Italic-VariableFont_wght.woff2")
			format("woff2-variations"),
			url("/fonts/besley/Besley-Italic-VariableFont_wght.woff2") format("woff2"),
			url("/fonts/besley/Besley-Italic-VariableFont_wght.ttf")
			format("truetype");
		font-weight: 400 900;
		font-display: swap;
		font-style: italic;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	/* Lenis CSS */
	html.lenis,
	html.lenis body {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}

	/* Custom Thin Scrollbar */
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--muted-foreground);
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--accent-foreground);
	}

	/* Firefox support */
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--muted-foreground) transparent;
	}
}
