---
import { Head } from "@felixicaza/astro-capo";
import { SEO } from "astro-seo";
import config from "@/config";
import "@/styles/global.css";
---

<html lang="en">
	<Head>
    <SEO
      title={config.siteName}
      description={config.siteDescription}
      openGraph={{
        basic: {
          title: config.siteName,
          type: "website",
          image: config.siteImage
        },
        optional: {
          description: config.siteDescription,
          siteName: config.siteName,
          locale: config.siteLocale,
        }
      }}
      twitter={{
        creator: "@irvanmalik48",
        card: "summary_large_image"
      }}
      extend={{
        link: [{rel: "icon", href: "/favicon.svg"}],
        meta: [{
          name: "twitter:image",
          content: config.siteImage
        }, {
          name: "twitter:title",
          content: config.siteName
        }, {
          name: "twitter:description",
          content: config.siteDescription
        },
        {
          name: "generator",
          content: Astro.generator
        },
        {
          name: "viewport",
          content: "width=device-width, initial-scale=1"
        }
      ]
      }}
    />
	</Head>
	<body data-container-id="default" class="dark bg-background text-foreground antialiased scroll-smooth font-sans w-full min-h-screen">
		<slot />
	</body>
</html>