---
import "../../styles/globals.css";
import { Code } from 'astro/components';
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

const url = new URL(`/api/v2/paste?id=${slug}`, import.meta.env.DEVELOPMENT === "true" ? "http://localhost:3000" : Astro.url);

const item = await fetch(url).catch((err) => {
  throw new Error(err);
});
const data = (await item.json().catch((err) => {
  throw new Error(err);
}))[0];
---

<html>
  <head>
    <title>{data.id}</title>
  </head>
  <body class="bg-[#1E1E1E] p-5">
    <Code code={data.content} theme="dark-plus" lang={data.lang} />
  </body>
</html>