---
import { Info } from "lucide-solid";
import Default from "../layouts/Default.astro";
import { Image } from "@astrojs/image/components";

let title = "404";
let description = "Page not found.";
---

<Default title={title} description={description}>
  <div
    class="relative min-h-[18rem] overflow-hidden w-full border-b border-neutral-700 flex items-center"
  >
    <Image
      src="/profile/unsplash-bg.webp"
      alt="Unsplash Background by Alex Perez"
      class="min-h-[18rem] max-h-full w-full object-cover brightness-50 absolute inset-0"
      height={720}
      width={1560}
      loading="eager"
    />
    <header
      class="relative flex flex-col justify-center w-full max-w-3xl gap-2 px-4 mx-auto text-center lg:text-left text-neutral-200"
    >
      <h1 class="text-4xl font-bold font-heading">404</h1>
      <p class="text-xl text-neutral-400">
        This page doesn't exist in this site.
      </p>
    </header>
  </div>
  <section class="relative z-10 w-full py-12">
    <div
      class="max-w-3xl px-4 mx-auto prose prose-invert prose-p:text-neutral-400 prose-headings:text-neutral-200 prose-headings:font-bold prose-headings:font-heading"
    >
      <h2
        class="flex items-center justify-start gap-5 pb-4 border-b border-neutral-700"
      >
        <div class="flex items-center gap-3">
          <Info size={28} />
        </div>
        Why you're seeing this page
      </h2>
      <p>
        You may have mistyped the address or the page may have moved. If you
        think this is a problem with the site, please
        <a
          href="mailto:me@realmof.tech"
          class="text-neutral-200 hover:text-neutral-100">contact me</a
        >.
      </p>
    </div>
  </section>
</Default>
