---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About Me</h1>
		<p>
			Hello, my name is Irvan Malik Azantha. Pretty sure everything has been described on the
			landing page, ain't it? But if you want to know more about me, then sure. I'm an undergrad
			student majoring in Computer Science. Currently studying in <a
				href="https://unsri.ac.id"
				class="cactus-link"
			>
				Sriwijaya University</a
			>. I'm 20 y'o, born at 1st of March, 2003. Has a few siblings, and live in a quite okay
			family.
		</p>
		<p>
			I usually spend my time playing games, watching anime, or reading manga. I'm also a big fan of
			audio related stuffs, mainly music. I listen to wide variety of genres including but not
			limited to pop, rock, metal, jazz, and classical. I also play guitar and piano. Cafe gigs are
			my favorite thing to do at night.
		</p>
		<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
			<div class="space-y-6">
				<h2 class="title">Likes</h2>
				<ul class="list-inside list-disc">
					<li>Watching anime (obviously)</li>
					<li>Reading manga</li>
					<li>Playing Blue Archive</li>
					<li>Programming</li>
					<li>Playing guitar</li>
					<li>Performing in cafes</li>
				</ul>
			</div>
			<div class="space-y-6">
				<h2 class="title">Dislikes</h2>
				<ul class="list-inside list-disc">
					<li>Being bothered during focus</li>
					<li>Unbalanced audio tuning</li>
					<li>Dirty stuffs</li>
					<li>Unneeded repetition</li>
					<li>People that can't take a joke</li>
					<li>Everyone, really</li>
				</ul>
			</div>
		</div>
		<h2 class="title">Affiliations</h2>
		<ul class="list-inside list-disc">
			<li>
				Contributor and Moderator <span class="text-gray-500">@</span>{" "}
				<a href="https://gnuweeb.org" class="cactus-link">GNU/Weeb Community</a>
			</li>
			<li>
				4th year Computer Science student <span class="text-gray-500">@</span>{" "}
				<a href="https://unsri.ac.id" class="cactus-link">Sriwijaya University</a>
			</li>
			<li>
				Bangkit 2023 Alumnus <span class="text-gray-500">@</span>{" "}
				<a href="https://grow.google/intl/id_id/bangkit/" class="cactus-link">Bangkit Academy</a>
			</li>
		</ul>
	</div>
</PageLayout>
