---
import { Book } from "lucide-solid";
import DefaultLayout from "../layouts/Default.astro";
import "../styles/globals.css";
import { getSortedDiaries } from "../lib/diaries";
import DiaryItem from "../components/solidjs/DiaryItem";
import { Image } from "@astrojs/image/components";

const allDiaries = getSortedDiaries();

let title = "Dear Diary";
let description = "Please know that I'm lonely.";
---

<DefaultLayout title={title} description={description}>
  <div class="relative min-h-[18rem] overflow-hidden w-full border-b border-neutral-700 flex items-center">
    <Image
      src="/profile/unsplash-bg.webp"
      alt="Unsplash Background by Alex Perez"
      class="min-h-[18rem] max-h-full w-full object-cover brightness-50 absolute inset-0"
      height={1080}
      width={2340}
    />
    <header class="relative px-4 text-center lg:text-left text-neutral-200 gap-2 max-w-3xl w-full mx-auto flex flex-col justify-center">
      <h1 class="font-heading font-bold text-4xl">
        Dear Diary
      </h1>
      <p class="text-xl text-neutral-400">
        Please know that I'm lonely.
      </p>
    </header>
  </div>
  <section class="w-full py-12 z-10 relative">
    <div class="max-w-3xl mx-auto px-4 prose prose-invert prose-p:text-neutral-400 prose-headings:text-neutral-200 prose-headings:font-bold prose-headings:font-heading">
      <h2 class="flex items-center justify-start gap-5 pb-4 border-b border-neutral-700">
        <div class="flex items-center gap-3">
          <Book size={28} />
        </div>
        Why do I make this section?
      </h2>
      <p>
        I just want to record my life in daily. That's all. Maybe a bit poetic but I don't care. I just want to write down my life.
      </p>
      <p>
        Oh, here's your list:
      </p>
      <div class="not-prose grid grid-cols-1 md:grid-cols-2 gap-4">
        {allDiaries.map((post: any, i: number) => (
          <DiaryItem key={i} slug={post.slug} {...post.frontMatter} />
        ))}
      </div>
    </div>
  </section>
</DefaultLayout>
