---
import {
  AlignJustify,
  Component,
  CornerDownRight,
  GitBranch,
  Instagram,
  ListMusic,
  Newspaper,
  Send,
} from "lucide-solid";
import DefaultLayout from "../layouts/Default.astro";
import PostItem from "../components/solidjs/PostItem";
import LyricsItem from "../components/solidjs/LyricsItem";
import "../styles/globals.css";
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const allLyrics = await getCollection("lyrics");

let title = "Landing";
let description = "The Realm of Irvan Malik Azantha";
---

<DefaultLayout title={title} description={description}>
  <div class="absolute top-0 w-full border-b border-neutral-700">
    <Image
      src="/profile/unsplash-bg.webp"
      alt="Unsplash Background by Alex Perez"
      class="object-cover w-full h-72 brightness-50"
      height={720}
      width={1560}
      loading="eager"
    />
  </div>
  <section class="relative w-full px-4 pt-20 pb-5">
    <div
      class="relative flex flex-col items-center w-full max-w-3xl p-4 mx-auto border rounded border-neutral-700 bg-neutral-800 bg-opacity-20 backdrop-blur-md mt-36"
    >
      <Image
        src="/profile/main.webp"
        alt="Profile Picture"
        class="absolute w-48 h-48 border rounded-full -mt-28 border-neutral-700 ring-4 ring-opacity-20 ring-offset-red-400 ring-offset-2 ring-red-400"
        width={420}
        height={420}
        loading="eager"
      />
      <div class="w-full text-center mt-28">
        <p class="text-neutral-200 text-opacity-80">Hello, my name is</p>
        <h1
          class="text-2xl font-bold font-heading md:text-4xl text-neutral-200"
        >
          Irvan Malik Azantha
        </h1>
        <p class="pb-4 md:text-lg text-neutral-200 text-opacity-80">
          Part-time Developer, Full-time Weeb
        </p>
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
          <a
            href="https://github.com/irvanmalik48/realm"
            class="main-page-card-btn"
          >
            <GitBranch size={20} />
            Blog Repository
          </a>
          <a href="https://t.me/lappretard" class="main-page-card-btn">
            <Send size={20} />
            Telegram Account
          </a>
          <a
            href="https://github.com/irvanmalik48/realm"
            class="main-page-card-btn"
          >
            <Instagram size={20} />
            Instagram Account
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="relative z-10 w-full py-5">
    <div
      class="max-w-3xl px-4 mx-auto prose prose-invert prose-p:text-neutral-400 prose-headings:text-neutral-200 prose-headings:font-bold prose-headings:font-heading"
    >
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <Component size={28} />
        </div>
        Introduction
      </h2>
      <p>
        Hello, I'm Irvan Malik Azantha. A result-oriented programmer with 2
        years of experience in creating and maintaining web development
        projects. Highly ambitious and logical. Very interested in open source
        technology and related project developments. Skilled at web development
        and UI/UX designing.
      </p>
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <Newspaper size={28} />
        </div>
        Recent Posts
      </h2>
      <p>Here's 4 recent posts I wrote:</p>
      <div class="grid grid-cols-1 gap-4 not-prose md:grid-cols-2">
        {
          allPosts
            .sort(
              (a, b) =>
                new Date(b.data.date).getTime() -
                new Date(a.data.date).getTime()
            )
            .slice(0, 4)
            .map((post) => <PostItem slug={post.slug} {...post.data} />)
        }
        <a href="/posts" class="no-underline main-page-card-btn md:col-span-2">
          <CornerDownRight size={20} />
          See more posts
        </a>
      </div>
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <ListMusic size={28} />
        </div>
        Recent Lyrics
      </h2>
      <p>Here's 4 recent lyrics I stashed:</p>
      <div class="grid grid-cols-1 gap-4 not-prose md:grid-cols-2">
        {
          allLyrics
            .sort(
              (a, b) =>
                new Date(b.data.date).getTime() -
                new Date(a.data.date).getTime()
            )
            .slice(0, 4)
            .map((lyric) => <LyricsItem slug={lyric.slug} {...lyric.data} />)
        }
        <a href="/lyrics" class="no-underline main-page-card-btn md:col-span-2">
          <CornerDownRight size={20} />
          See more lyrics
        </a>
      </div>
      <h2 class="flex items-center justify-start gap-5">
        <div class="flex items-center gap-3">
          <AlignJustify size={28} />
        </div>
        Acknowledgements
      </h2>
      <ul>
        <li>
          This blog is built using{" "}
          <a
            href="https://astro.build/"
            class="text-red-400 transition hover:text-neutral-200"
          >
            Astro
          </a>
          , the all-in-one web framework designed for speed.
        </li>
        <li>
          The styling is provided by{" "}
          <a
            href="https://tailwindcss.com"
            class="text-red-400 transition hover:text-neutral-200"
          >
            Tailwind CSS
          </a>
          , a utility-first CSS framework.
        </li>
        <li>
          The icons are provided by{" "}
          <a
            href="https://lucide.dev"
            class="text-red-400 transition hover:text-neutral-200"
          >
            Lucide
          </a>
          , an open-source project and a fork of Feather Icons.
        </li>
        <li>
          The top background image is provided by{" "}
          <a
            href="https://unsplash.com/@a2eorigins"
            class="text-red-400 transition hover:text-neutral-200"
          >
            Alex Perez
          </a>{" "}
          on Unsplash.
        </li>
        <li>The blog as a project is licensed under MIT License.</li>
      </ul>
    </div>
  </section>
</DefaultLayout>
