---
import Container from "@/components/layouts/container.astro";
import DefaultContainer from "@/components/layouts/default-container.astro";
import FluidBackground from "@/components/ui/fluid-background";
import TextSlideUp from "@/components/ui/text-slide-up";
import { cn } from "@/libs/helpers/cn";
---

<DefaultContainer>
  <!-- Quote Hero -->
  <div
    class={cn(
      "w-full min-h-screen mx-auto flex flex-col relative overflow-hidden",
      "items-center justify-center bg-sidebar",
      "sticky top-0 z-0"
    )}
  >
  <div
  class={cn(
    "max-w-4xl min-w-full gap-5 flex flex-col z-20 pointer-events-none",
    "items-center justify-center px-5 py-3",
    "mx-auto"
  )}
    >
    <div
    class={cn(
      "w-full mx-auto max-w-4xl flex flex-col gap-0 pointer-events-none",
      "leading-none tracking-tight uppercase font-bold",
      "items-center justify-center"
    )}
      >
      <FluidBackground
        client:only="solid-js"
        class="absolute w-full mb-6 rounded-xl overflow-clip aspect-[21/5] z-0 opacity-100 pointer-events-auto"
        SPLAT_RADIUS={0.5}
        SPLAT_FORCE={4000}
        CURL={20}
        PRESSURE={0.5}
        COLORFUL={true}
        HOVER={true}
        BACK_COLOR="#000000"
      />
        <TextSlideUp
          client:load
          text="Thrive Through Chaos"
          class="text-5xl text-foreground pointer-events-none"
          duration={1600}
        />
        <TextSlideUp
          client:load
          text="to indulge in technology is to dive into the uncertainty"
          class="text-primary font-normal lowercase text-lg pointer-events-none"
          duration={1600}
          delay={400}
        />
      </div>
    </div>
  </div>

  <!-- Main Section -->
  <Container
    containerId="main-section"
    class={cn(
      "gap-5 w-full min-h-screen mx-auto px-5 py-3",
      "flex flex-col items-center justify-center",
      "bg-background relative z-10 shadow-2xl"
    )}
  >
    <h1 class={cn("text-4xl font-header")}>TBD</h1>
    <p class={cn("text-xl text-muted-foreground")}>
      I'm not sure what to put here yet.
    </p>
  </Container>
</DefaultContainer>
