---
import Default from "../layouts/Default.astro";

let title = "Programmer's Oath";
let description = "By Robert C. Martin (Uncle Bob)";
---

<Default title={title} description={description}>
  <div class="relative min-h-[18rem] overflow-hidden w-full border-b border-neutral-700 flex items-center">
    <img
      src="/profile/unsplash-bg.webp"
      alt="Unsplash Background by Alex Perez"
      class="min-h-[18rem] max-h-full w-full object-cover brightness-50 absolute inset-0"
    />
    <header class="relative px-4 text-center lg:text-left text-neutral-200 gap-2 max-w-3xl w-full mx-auto flex flex-col justify-center">
      <h1 class="font-heading font-bold text-4xl">
        Programmer's Oath
      </h1>
      <p class="text-xl text-neutral-400">
        By Robert C. Martin (Uncle Bob)
      </p>
    </header>
  </div>
  <section class="w-full py-12 z-10 relative">
    <div class="max-w-3xl mx-auto px-4 prose prose-invert prose-p:text-neutral-400 prose-headings:text-neutral-200 prose-headings:font-bold prose-headings:font-heading">
      <p>
        In order to defend and preserve the honor of the profession of computer programmers, I, Irvan Malik Azantha
        promise that, to the best of my ability and judgement that:
      </p>
      <ul>
        <li>
          I will not produce harmful code.
        </li>
        <li>
          The code that I produce will always be my best work. I will not knowingly allow code that is defective either in behavior or structure to accumulate.
        </li>
        <li>
          I will produce, with each release, a quick, sure, and repeatable proof that every element of the code works as it should.
        </li>
        <li>
          I will make frequent, small, releases so that I do not impede the progress of others.
        </li>
        <li>
          I will fearlessly and relentlessly improve my creations at every opportunity. I will never degrade them.
        </li>
        <li>
          I will do all that I can to keep the productivity of myself, and others, as high as possible. I will do nothing that decreases that productivity.
        </li>
        <li>
          I will continuously ensure that others can cover for me, and that I can cover for them.
        </li>
        <li>
          I will produce estimates that are honest both in magnitude and precision. I will not make promises without certainty.
        </li>
        <li>
          I will never stop learning and improving my craft.
        </li>
      </ul>
      <p>
        In the events of me not being able to uphold these principles without reasonable evidences, I will resign from my position as a programmer and will never call myself a programmer again.
      </p>
    </div>
  </section>
</Default>