---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="RCCL" description="Realm Collectives Community License.">
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: "RCCL" }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">
          Realm Collectives Community License (v1.0)
        </h1>
        <div class="prose prose-neutral mb-4 dark:prose-invert">
          <p>
            The Realm Collectives Community License (RCCL) is a license that
            aims to provide a simple and permissive license for the Realm
            Collectives community.
          </p>
          <p>
            Please refer to the full text of the license below. You can also use
            this license for your own projects, as long as you comply with the
            terms and conditions set forth in the license.
          </p>
          <pre
            class="overflow-x-scroll rounded-lg border border-border p-5">
<code>{`REALM COLLECTIVES COMMUNITY LICENSE
Version 1.0

Copyright © 2024 Irvan Malik Azantha.

A. TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION, AND MODIFICATION

1. A copy of this License must accompany any redistribution of
   the Work or any Derivative Works.
2. All copyright, patent, trademark, and attribution notices
   from the original Source must be preserved in the Source form
   of any Derivative Works you distribute.
3. The original author's rights must be respected in any form of
   distribution.

You may include your own copyright notice on your modifications
and set additional or different licensing terms for the use,
reproduction, or distribution of your modifications or any
Derivative Works as a whole, as long as your activities comply
with the conditions set forth in this License.

B. DISCLAIMER OF WARRANTY

THIS SOFTWARE IS PROVIDED BY THE OWNERS AND CONTRIBUTORS "AS IS"
WITHOUT ANY WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT
NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
FOR A PARTICULAR PURPOSE. THE OWNERS OR CONTRIBUTORS SHALL NOT BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY,
OR CONSEQUENTIAL DAMAGES (INCLUDING BUT NOT LIMITED TO THE COST OF
SUBSTITUTE GOODS OR SERVICES, LOSS OF USE, DATA, OR PROFITS, OR
BUSINESS INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
NEGLIGENCE OR OTHERWISE), EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGES.

C. ACKNOWLEDGEMENTS

This license is derived from Raphielscape Public License Version 1.b,
slightly modified to better suit the needs of Realm Collectives.`}</code>
          </pre>
        </div>
      </div>
    </section>
  </Container>
</Layout>
