---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Setup",
	description: "Current device and audio setup",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Main Setup</h1>
		<p>
			My main setup includes a potato laptop and some more which I will or will not include. Well,
			here you are:
		</p>
		<h2 class="title">Acer Aspire 3 A314-22</h2>
		<ul class="list-inside list-disc">
			<li>CPU: AMD Ryzen 3 3250U</li>
			<li>GPU: Vega 3 (Integrated)</li>
			<li>Display: IPS LCD</li>
			<li>Resolution: 1080p (FHD)</li>
			<li>RAM: 4GB DDR4 2666MT/s (soldered) + 8GB DDR4 2666MT/s</li>
			<li>OS: EndeavourOS + Windows 11 (dualboot)</li>
		</ul>
		<h2 class="title">Xiaomi Redmi 5 Plus <span class="text-gray-500">(Almost defunct)</span></h2>
		<ul class="list-inside list-disc">
			<li>SoC: Qualcomm Snapdragon 625</li>
			<li>Display: IPS LCD</li>
			<li>Resolution: 1080p (FHD)</li>
			<li>RAM: 4GB</li>
			<li>
				OS: Android <span class="text-gray-500">(Like seriously, what else will it be?)</span>
			</li>
		</ul>
		<h2 class="title pt-6">In Ear Monitors</h2>
		<p>I like some more stuff, so please bear with these:</p>
		<h2 class="title">Moondrop Chu II</h2>
		<ul class="list-inside list-disc">
			<li>Housing: ZN Alloy</li>
			<li>Type: 1DD</li>
			<li>Diaphgram: Al-Mg Alloy Composite</li>
			<li>FR: 15 Hz <span class="text-gray-500">-</span> 38 KHz</li>
			<li>Effective FR: 20 Hz <span class="text-gray-500">-</span> 20 KHz (IEC60318-4, 3 dB)</li>
			<li>Impedance: 18 &ohm; &plusmn; 15% <span class="text-gray-500">(@ 1 KHz)</span></li>
			<li>Sensitivity: 119 dB/Vrms <span class="text-gray-500">(@ 1 KHz)</span></li>
			<li>
				THD: <span class="text-gray-500">&leq;</span> 0,5% <span class="text-gray-500"
					>(@ 1 KHz, 94 dB)</span
				>
			</li>
		</ul>
		<h2 class="title">KZ EDA Balanced Version</h2>
		<ul class="list-inside list-disc">
			<li>Housing: Plastic Resin</li>
			<li>Type: 1DD</li>
			<li>Diaphgram: <span class="text-gray-500">(uninformed)</span></li>
			<li>FR: 20 Hz <span class="text-gray-500">-</span> 40 KHz</li>
			<li>Effective FR: 20 Hz <span class="text-gray-500">-</span> 20 KHz</li>
			<li>Impedance: 30 &ohm;</li>
			<li>Sensitivity: 112.53 dB/Vrms</li>
			<li>
				THD: <span class="text-gray-500">(uninformed)</span>
			</li>
		</ul>
		<h2 class="title">KZ EDX Pro <span class="text-gray-500">(Defunct)</span></h2>
		<ul class="list-inside list-disc">
			<li>Housing: Plastic Resin</li>
			<li>Type: 1DD</li>
			<li>Diaphgram: <span class="text-gray-500">(uninformed)</span></li>
			<li>FR: 20 Hz <span class="text-gray-500">-</span> 40 KHz</li>
			<li>Effective FR: 20 Hz <span class="text-gray-500">-</span> 20 KHz</li>
			<li>Impedance: ??? &ohm;</li>
			<li>Sensitivity: ??? dB/Vrms</li>
			<li>
				THD: <span class="text-gray-500">(uninformed)</span>
			</li>
		</ul>
		<p>
			<span class="block text-gray-500">Note:</span>
			 I've lost the box for this one, so I can't really tell the specs. I'll update this once I
			find it.
		</p>
		<h2 class="title">KZ ZS3/ZS3+ <span class="text-gray-500">(Defunct)</span></h2>
		<ul class="list-inside list-disc">
			<li>Housing: Plastic</li>
			<li>Type: 1DD</li>
			<li>Diaphgram: <span class="text-gray-500">(uninformed)</span></li>
			<li>FR: 20 Hz <span class="text-gray-500">-</span> 45 KHz</li>
			<li>Effective FR: 20 Hz <span class="text-gray-500">-</span> 20 KHz</li>
			<li>Impedance: 18 &ohm;</li>
			<li>Sensitivity: 105 dB/Vrms</li>
			<li>
				THD: <span class="text-gray-500">(uninformed)</span>
			</li>
		</ul>
		<p>
			<span class="block text-gray-500">Note:</span>
			 It's broken beyond repair.
		</p>
	</div>
</PageLayout>
