<div class="giscus"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo="irvanmalik48/realm"
  data-repo-id="R_kgDOHpHiPg"
  data-category="Comments"
  data-category-id="DIC_kwDOHpHiPs4CQsGa"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
